@import 'fonts';
@import 'mixins';
@import 'variables';

body {
    // background-color: red;
}

.top-content,
.info,
.slider {
    max-width: 1160px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    @include ubuntu;
}

.logo__sub-text {
    display: block;
}

.social {
    float: right;
}

.social__link {

}

.nav {
    @include flex_row;
    margin: 0 auto;
    background-color: #2a2d32;
    @include ubuntu_condensed;

    &__item {
        display: inline-block;
        margin: 0;
        padding: 20px 40px;
        list-style-type: none;
        color: #fff;
        border-right: 1px solid $dark;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #f4b60d;
        }

        &_active {
            background-color: $lightblue;
        }
    }
}

.search-form {
    float: right;

    input {
        margin-top: 10px;
        width: 200px;
        padding: 10px;
        background-color: #32353a;
        color: #eee;
        border: 1px solid #000;
        line-height: 20px;
    }
}

/* ____________ Carousel _____________*/

.slider {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;

    &__container {
        position: relative;
        width: 300%;
    }

    &__item {
        position: relative;
        @include reset;
        margin-top: 40px;
        float: left;
        width: 33.33%;
    }

    &__imagee {

    }

    &__controls {
        position: relative;
        top: -45px;
        margin: 0 auto;
        width: 100px;
    }

    &__switch {
        display: inline-block;
        margin: 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #eee;
        background-color: #fff;
        box-sizing: border-box;

        &.active {
            border-width: 2px;
            background-color: $dark;
        }
    }

    &__text {
        position: absolute;
        top: 210px;
        left: 45px;
        width: 212px;
        color: #fff;
        @include ubuntu;
        font-size: 54px;
        font-weight: bold;
        line-height: 60px;
        text-transform: uppercase;

        > * {
            display: inline-block;
            padding: 7px 48px 7px 21px;
            background-color: rgba(0, 0, 0, .5);
        }
    }

    &__text_emphasized {
        display: block;
        color: #f4b60d;
    }


}

/*_______________ Info Block ____________ */

.info {
    @include flex_row;
    justify-content: space-between;
    @include ubuntu;

    &__block {
        display: flex;
        flex-flow: column wrap;
        flex: 1 0 auto;
        margin: 0 auto;

        &:first-child .info__heading::before {
            @include bgIcon('settings');
        }

        &:nth-child(2) .info__heading::before {
            @include bgIcon('params');
        }

        &:last-child .info__heading::before {
            @include bgIcon('truck');
        }
    }

    &__num {
        flex-basis: 100%;
        margin-right: 30px;
        @include ubuntu;
        font-size: 75px;
        color: #2a2b2e;
        opacity: 0.1;
    }

    &__heading {
        @include reset;
        margin-top: 15px;
        margin-bottom: 15px;
        color: $dark;
        font-size: 15px;

        &::before {
            display: block;
            margin-bottom: 10px;
            width: 35px;
            height: 40px;
            content: '';
            background-repeat: no-repeat;
        }
    }

    &__text {
        width: 250px;
        @include reset;
        color: $grey;
        font-size: 13px;
        line-height: 20px;
    }

    &__link {
        display: block;
        margin-top: 10px;
        font-size: 13px;
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $lightblue;
        }

        &::after {
            position: relative;
            display: inline-block;
            top: 2px;
            left: 6px;
            width: 10px;
            height: 9px;
            content: '\2192';
            color: $lightblue;
        }

        &:hover::after {
            color: $grey;
        }
    }
}
