@mixin flex_row {
    display: flex;
    flex-flow: row wrap;
}

@mixin ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

@mixin arial {
    font-family: Arial, sans-serif;
}

@mixin ubuntu_condensed {
    font-family: 'Ubuntu Condensed', sans-serif;
}

@mixin container {
    margin: 0 auto;
    max-width: 1160px;
    width: 90%;
}

@mixin white_link {
    color: $white;
    text-decoration: none;
}

@mixin white_panel {
    background-color: $white;
    border: 1px solid #e8e8e8;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin png_icon($filename) {
    background-image: url('../img/icons/' + $filename + '.png');
}

@mixin svg_icon($filename) {
    background-image: url('../img/icons/' + $filename + '.svg');
}
