@mixin flex_row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

@mixin ubuntu_condensed {
    font-family: 'Ubuntu Condensed', sans-serif;
}

@mixin white_link {
    color: #fff;
    text-decoration: none;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin bgIcon($filename) {
    background-image: url('../img/icons/' + $filename + '.png');
}
