@mixin flex_row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

@mixin ubuntu_condensed {
    font-family: 'Ubuntu Condensed', sans-serif;
}

@mixin container {
    margin: 0 auto;
    max-width: 1160px;
    width: 90%;
}

@mixin white_link {
    color: $white;
    text-decoration: none;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin bg_icon($filename) {
    background-image: url('../img/icons/' + $filename + '.png');
}
