// colors

$blue: #248cec;
$dark: #2a2b2e;
$darkgrey: #2a2d32;
$extralight: #eee;
$grey: #8a8a8a;
$lightblue: rgba(36, 140, 236, 1);
$lightblue_opaque: rgba(36, 140, 236, .56);
$lightgrey: #9e9e9e;
$orange: #f4b60d;
$white: #fff;
